html {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}
/* Colours, widths and heights subject to change - tbh I'm likely to change it all */
.nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F79A3;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-links a:link{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

.nav-links a:visited {
    color: #ffffff;
}

.nav-links a:hover {
    color: #1F79A3;
    background-color: #ffffff;
}

main {
    width: 100%; 
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: #ffffff;
    
}
.intro {
    min-height: 60vh;
}
.projects{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #1F79A3;
    padding: 25px;
    gap: 10px;
    min-height: 60vh;

}

main footer {
    margin: 0 auto;
    width: 50%;
    background-color: #1F79A3;
    justify-content: center;
    min-height: 5vh;
}

.socials-icons {

}
