html {
    font-size: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}
/* Colours, widths and heights subject to change - tbh I'm likely to change it all */
.nav-bar {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1F79A3;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-links {
    width: 45vw;
    display: flex;
    gap: 30px;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.nav-links a:link{
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
}

.nav-links a:visited {
    color: #ffffff;
}

.nav-links a:hover {
    color: #1F79A3;
    background-color: #ffffff;
}

main {
    width: 100%; 
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    color: #ffffff;
    
}
.intro {
    min-height: 40vh;
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 20px;
        
    }
.intro-content {
    display: flex;
	flex-direction: row;
    gap: 15px;
    margin: 0 auto;
    max-width: 60vw;
}
.intro img {
    background-color: #ffffff;
    max-width: 200px;
    max-height: 200px;
}
.intro-detail {
    padding-left: 15px;
    border-left: grey solid 1px;
    flex-wrap: wrap;
}
.intro-detail h2 {
    font-size: 2rem;
    color: #1F79A3;
}

.intro-detail h3 {
    font-size: 1.5rem;
    color: #1F79A3

}

.intro-detail p {
    font-size: 1.5rem;
    color: #1F79A3
}

.projects {
    display: flex;
	flex-direction: column;
    background-color: #1F79A3;
    padding: 25px;
    gap: 10px;
    min-height: 60vh;
    margin-bottom: 20px;
}

.project-content {
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 60vw;
    margin: 0 auto;
}

.project-content img {
    background-color: #ffffff;
    min-width: 100px;
    min-height: 75px;
    max-width: 350px;
    max-height: 200px;
    justify-content: center;
}

.content-details h2 {
    font-size: 2rem;
}

.content-details h3 {
    font-size: 1.5rem;
    flex-wrap: wrap;
}
main footer {
    margin: 0 auto;
    width: 60vh;
    background-color: #1F79A3;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-evenly;
    min-height: 5vh;
    max-height: 5vh;
    font-size: 2rem;
}

.fa {
        padding: 5px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 20px 2px;
      }

.fa:hover {
          opacity: 0.5;
      }
.fa-linkedin {
        background: #007bb5;
        color: white;
      }

.fa-twitter {
        background: #55ACEE;
        color: white;
      }
    
.fa-instagram {
        background: #125688;
        color: white;
      }
