* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.html {
    font-family: 'Open Sans' sans-serif;
    font-size: 10px;
}

/* body {
    background-color: #1a1a1a;
} */

header {
    padding-top: 200px;
    background-color: #1a1a1a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
a:link {
    text-decoration: none;
    color: #ffffff;
=======
.nav-bar img {
    width: 75px;
>>>>>>> feature
}

.links-left a:hover {
    color: #be4bc4;
}

<<<<<<< HEAD
a:hover {
    color: #be4bc4;
=======
.nav-links a {
    text-decoration: none;
}

.nav-links a:link{
    color: #ffffff;
    padding: 20px;
>>>>>>> feature
}

a:visited {
    text-decoration: none;
    color: #ffffff;
}

.full-stack {
    color: #be4bc4;
}

<<<<<<< HEAD
nav {
    background-color: #1a1a1a;
    min-height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
=======
main {
    width: 100%; 
    color: #ffffff;
>>>>>>> feature
}

.header-button {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    color: #ffffff;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
}

.down-arrow {
    fill: #be4bc4;
    margin: 0 auto;
    transform: rotate(90deg);
}
.heading-line-1 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-top: 50px;
    padding: 3px;
    border: 2px solid #be4bc4;
}

.heading-line-2 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    margin: 0;
}

<<<<<<< HEAD
.about {
    background-color: #1a1a1a;
    min-height: 60vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.about h2 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
}

.about p {
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 200;
    margin: 0 auto;
    line-height: normal;
=======
.intro-content img {
    background-color: #ffffff;
    max-width: 200px;
    max-height: 200px;
}

.intro-detail {
    padding-left: 15px;
    border-left: grey solid 1px;
    flex-wrap: wrap;
}

.intro-detail h1 {
    font-size: 2rem;
    color: #1F79A3;
>>>>>>> feature
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.skill {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}

.skill img {
    height: 80px;
    width: auto;
    padding-bottom: 10px;
}

.skill h3 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
}

.projects {
    background-color: #1a1a1a;
    min-height: 80vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.projects h2 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
}

<<<<<<< HEAD
.contact {
    background-color: #1a1a1a;
    min-height: 30vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center
=======
.project-content img {
    width: 300px;
    justify-content: center;
>>>>>>> feature
}

.contact h2 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
}

.contact h3 {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 0.75rem;
    font-weight: 300;
}

<<<<<<< HEAD
.contact-form form {
    width: 60%;
=======
.project-details a {
    text-decoration: none;
}

.click-through {
    padding: 25px;
    /* text-decoration: none; */
    font-size: 2rem;
    color: #ffffff;
    background: #072738;
    width: 150px;
}

.contact {
    border: 1px #1F79A3 solid;
    width: 40vw;
    margin: 0 auto;
    margin-bottom: 20px;
>>>>>>> feature
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
}

.input {
    background-color: #282828;
    border: solid 2px #282828;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}

.contact-message {
    height: 100px;
}

.contact-form-button {
    text-decoration: none;
    padding: 5px;
    background-color: #282828;
    color: #ffffff;
    width: 20%;
    float: right;
    border: #282828;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    cursor: pointer;
}

footer {
    min-height: 20vh;
    width: 100%;
    padding-top: 10px;
    background-color: #282828;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 0.75rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

<<<<<<< HEAD
.closer {
    font-size: 00.75rem;
    color: #ffffff;
    margin-left: 10px;
    text-shadow: 0 0 150px #ffffff,
        0 0 100px #be4bc4,
        0 0 75px #be4bc4,
        0 0 50px #be4bc4,
        0 0 25px #be4bc4,
        0 0 15px #ffffff,
        0 0 10px #ffffff,
        0 0 5px #ffffff;
}

.socials {
=======
main footer {
    margin: 0 auto;
    max-width: 60vh;
    background-color: #1F79A3;
    font-size: 2rem;
>>>>>>> feature
    display: flex;
    justify-content: center;
    gap: 5px;
}

.fa {
<<<<<<< HEAD
    padding: 15px;
=======
    padding: 25px;
>>>>>>> feature
    text-decoration: none;
    font-size: 30px;
    }

<<<<<<< HEAD
.fa:hover{
    background-color: #282828;
    color: #be4bc4;
}

.fa-github {
    color: white;
    background: #1a1a1a;
    }

.fa-codepen {
    color: white;
    background: #1a1a1a;
}

.fa-twitter {
    color: white;
    background: #1a1a1a;
}

.fa-instagram {
=======
.fa:hover {
    opacity: 0.5;
    }
.fa-linkedin {
    background: #007bb5;
    color: white;
    }

.fa-twitter {
    background: #55ACEE;
    color: white;
    }
    
.fa-instagram {
    background: #125688;
    color: white;
    }

.fa-codepen {
>>>>>>> feature
    color: white;
    background: #1a1a1a;
}

.fa-linkedin {
    color: white;
    background: #1a1a1a;
}

.toTop {
    margin:0 auto;
    padding-top: 20px;
    display:flex;
    justify-content: center;
}
.up-arrow {
    fill: #be4bc4;
    margin: 0 auto;
    transform: rotate(270deg);
}

@media screen and (max-width: 775px) {
    .heading-line-2 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
    }

    .languages {
        width:80vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items:center;
    }
<<<<<<< HEAD
    .skill {
=======
    
    .intro-detail {
        border-top: 1px solid grey;
        border-left: none;
        min-width: 90%;
    }

    .intro-detail p {
        font-size: 1.75rem;
    }

    main footer {
>>>>>>> feature
        display: flex;
        justify-content: center;
    }
    .skill img {
        height: 80px;
        width: auto;
        padding-bottom: 10px;
    }
    
    .skill h3 {
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 0.75rem;
        margin: 0 auto;
<<<<<<< HEAD
        padding-bottom: 3px;
=======
        min-width: 90vw;
    }

    .project-content {
        flex-direction: column-reverse;
        font-size: 1.5rem;
        font-weight: bold;
>>>>>>> feature
    }

    .about {
        width: 100%;
    }
<<<<<<< HEAD

    .about p {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }

    .socials {
        width:80vw;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items:center;
=======
    
    .project-detail {
        min-width: 90%;
    }

    .project-details h2 {
        font-size: 2.25rem;
    }
    .project-details p {
        font-size: 1.75rem;
    }
    .contact {
        margin-top: 5px;
        min-width: 85vw;
>>>>>>> feature
    }
    .contact-form form {
        width: 75%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 5px;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .project-content {
        min-width: 100%;
        flex-direction: column-reverse;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .project-content img {
        width: 100%
    }
}